<!DOCTYPE html>
<html lang="en">
  <head>
    

      
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="NONE,NOARCHIVE">
  

  <title>Crud Wordstems – Django REST framework</title>

  
    
      <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/bootstrap-tweaks.css">
    

    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/prettify.css">
    <link rel="stylesheet" type="text/css" href="/static/rest_framework/css/default.css">
    
  


</head>
  <body class="">
    <div class="wrapper">
      <div
        class="navbar navbar-static-top navbar-inverse"
        role="navigation"
        aria-label="navbar"
      >
        <div class="container">
          <span>
            <a
              class="navbar-brand"
              rel="nofollow"
              href="https://www.django-rest-framework.org/"
            >
              Django REST framework
            </a>
          </span>
          <ul class="nav navbar-nav pull-right"></ul>
        </div>
      </div>
      
      <div class="container">

        <ul class="breadcrumb" style="font-size:x-large">
          Endpoints en écoute sur ce projet Django REST framework :<br><br>
          <li class="active" ><a href="/wordstems">Crud Wordstems</a></li><br>
          <li class="active" ><a href="/wordstems/1">Crud Wordstem by Id</a></li><br>
          <li class="active"><a href="/properNouns/">Crud ProperNouns</a></li><br>
          <li class="active"><a href="/sources/">Crud Sources</a></li><br>
          <li class="active"><a href="/semanticFields/">Crud Semantic fields</a></li><br>
          <li class="active"><a href="/sessionGameData/?wordTheme=1">Get Session Game Data</a></li><br>
        </ul>
      </div>
    </div>
  </body>
</html>